{%- capture fit -%}
  &fit=
  {%- if page.image.fit -%}
  {{- page.image.fit -}}
  {%- else -%}
  crop
  {%- endif -%}
{%- endcapture -%}
{%- capture crop -%}
  {%- if page.image.crop -%}
  &crop={{ page.image.crop }}
  {%- endif -%}
{%- endcapture -%}
{%- capture rect -%}
  {%- if page.image.rect -%}
  &rect={{ page.image.rect }}
  {%- endif -%}
{%- endcapture -%}
{%- capture url -%}
  {%- if page.image.unsplashId -%}
  //images.unsplash.com/photo-{{ page.image.unsplashId }}?auto=format{{ fit }}{{ crop }}{{ rect }}&w=896&h=384&q=80
  {%- endif -%}
{%- endcapture -%}
<div class="page-image {{ page.image.class }}" style="background-image: url({{ url }})"></div>
