// Override some variables
$base-line-height: 1.8;
$spacing-unit:     2rem;
$text-color:       #222;
$background-color: #efefef;
$brand-color:      #008000;
$content-width:    50rem;
$on-palm:          36rem;
$on-laptop:        48rem;

// Import theme's defaults.
@import "whiteglass";

// Import mixins.
@import "my_whiteglass/fluid-type";

// Import partials.
@import "my_whiteglass/base";
@import "my_whiteglass/layout";
