@import "content-wrapper";

.post-content {
  @include content-wrapper();
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}
