html {
  background: darken($background-color, 2.5%);
}

html.dark-mode {
  filter: contrast(90%) invert(90%) hue-rotate(180deg) !important;

  img,
  video,
  iframe,
  canvas,
  svg,
  embed[type="application/x-shockwave-flash"],
  object[type="application/x-shockwave-flash"],
  *[style*="url("] {
    filter: invert(100%) hue-rotate(-180deg) !important;
  }
}

body {
  background: $background-color;
  max-width: $body-max-width;
  margin: 0 auto;
}

a {
  color: $brand-color;

  &:visited {
    color: darken($brand-color, 5%);
  }
}

abbr {
  border-bottom: 1px dotted $brand-color;
  cursor: help;
}

pre.debug {
  &.info {
    text-align: center;
    border-color: $brand-color;
    color: $brand-color;
  }

  &.error {
    border-color: $error-color;
    color: $error-color;
  }
}
