.site-footer {
  .wrapper {
    border-top: 1px solid $brand-color;
    padding: .66rem 0 0;
  }

  p {
    margin: 0;
  }

  small {
    display: block;
    font-size: .8em;
    line-height: 1.4;
    margin-top: .5em;
  }
}
