.site-header {
  min-height: unset;

  .wrapper {
    border-bottom: 1px solid $brand-color;
    padding-top: 1rem;
  }
}

.site-title {
  font-weight: 400;
  letter-spacing: 0;
  margin-left: -#{$base-line-height / 2}em;

  &:hover {
    color: $brand-color;
    text-decoration: none;
  }

  img {
    width: #{$base-line-height}em;
    margin-top: -#{$base-line-height / 3}em;
  }
}

.site-nav {
  .page-link {
    display: inline-block;

    &:hover {
      color: $brand-color;
      text-decoration: none;
    }

    &.selected {
      color: $brand-color;
      border-bottom: 2px solid $brand-color;
    }
  }
}
