// Override some variables
$base-line-height: 1.8;
$spacing-unit: 2rem;
$text-color: #222;
$background-color: #efefef;
$brand-color: #008000;
$error-color: #800000;
$grey-color: #777;
$content-width: 50rem;
$on-palm: 48rem;
$on-laptop: 64rem;
